@model GadeliniumGroupCapstone.ViewModels.RegisterEditBusinessViewModel

@{
    ViewData["Title"] = "EditBusiness";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string imageBase64 = Convert.ToBase64String(Model.Business.BusinessLogo.Content);
    string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
}

<h1>EditBusiness</h1>

<h4>@Model.Business.BusinessName</h4>
<hr />


<div class="row">
    <div class="col-md-8">
        <form asp-action="EditBusiness" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Business.BusinessId" />
            <input type="hidden" asp-for="Business.BusinessHourId" />
            <input type="hidden" asp-for="Business.UserId" />
            <input type="hidden" asp-for="Business.PhotoBinId" />
            <div class="form-group">
                <label class="control-label">Business Name</label>
                <input asp-for="Business.BusinessName" class="form-control w-50" />
                <span asp-validation-for="Business.BusinessName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Business.Address" class="control-label"></label>
                <input asp-for="Business.Address" class="form-control w-50" />
                <span asp-validation-for="Business.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Business.Zip" class="control-label"></label>
                <input asp-for="Business.Zip" class="form-control w-50" />
                <span asp-validation-for="Business.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <select class="mr-3" asp-for="Business.BusinessHour.MondayOpening">
                            @for (int i = 1; i < 13; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <label>Monday Opening Time</label>
                    </div>
                    <div class="col-6">
                        <select class="mr-3" asp-for="Business.BusinessHour.TuesdayOpening">
                            @for (int i = 1; i < 13; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <label>Tuesday Opening Time</label>
                    </div>
                    <div class="col-6">
                        <select class="mr-3" asp-for="Business.BusinessHour.WednesdayOpening">
                            @for (int i = 1; i < 13; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <label>Wednesday Opening Time</label>
                    </div>
                    <div class="col-6">
                        <select class="mr-3" asp-for="Business.BusinessHour.ThursdayOpening">
                            @for (int i = 1; i < 13; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <label>Thursday Opening Time</label>
                    </div>
                    <div class="col-6">
                        <select class="mr-3" asp-for="Business.BusinessHour.FridayOpening">
                            @for (int i = 1; i < 13; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <label>Friday Opening Time</label>
                    </div>
                    <div class="col-6">
                        <select class="mr-3" asp-for="Business.BusinessHour.SaturdayOpening">
                            @for (int i = 1; i < 13; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <label>Saturday Opening Time</label>
                    </div>
                    <div class="col-6">
                        <select class="mr-3" asp-for="Business.BusinessHour.SundayOpening">
                            @for (int i = 1; i < 13; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <label>Sunday Opening Time</label>
                    </div>


                    <div class="col-6">
                        <select class="mr-3" asp-for="Business.BusinessHour.MondayClosing">
                            @for (int i = 1; i < 13; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <label>Monday Closing Time</label>
                    </div>
                    <div class="col-6">
                        <select class="mr-3" asp-for="Business.BusinessHour.TuesdayClosing">
                            @for (int i = 1; i < 13; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <label>Tuesday Closing Time</label>
                    </div>
                    <div class="col-6">
                        <select class="mr-3" asp-for="Business.BusinessHour.WednesdayClosing">
                            @for (int i = 1; i < 13; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <label>Tuesday Closing Time</label>
                    </div>
                    <div class="col-6">
                        <select class="mr-3" asp-for="Business.BusinessHour.ThursdayClosing">
                            @for (int i = 1; i < 13; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <label>Thursday Closing Time</label>
                    </div>
                    <div class="col-6">
                        <select class="mr-3" asp-for="Business.BusinessHour.FridayClosing">
                            @for (int i = 1; i < 13; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <label>Friday Closing Time</label>
                    </div>
                    <div class="col-6">
                        <select class="mr-3" asp-for="Business.BusinessHour.SaturdayClosing">
                            @for (int i = 1; i < 13; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <label>Saturday Closing Time</label>
                    </div>
                    <div class="col-6">
                        <select class="mr-3" asp-for="Business.BusinessHour.SundayClosing">
                            @for (int i = 1; i < 13; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <label>Sunday Closing Time</label>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label asp-for="Business.Phone" class="control-label"></label>
                <input asp-for="Business.Phone" class="form-control  w-50" />
                <span asp-validation-for="Business.Phone" class="text-danger"></span>
            </div>
            <div class="container row">
                <div class="col-12">
                    <img src="@imageSrc" alt="@Model.Business.PhotoBinId" width="100" height="100" />
                </div>
                <div class="form-group">
                    <input type="file" asp-for="UploadFile" name="uploadFile" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-controller="Business" asp-action="Home">Return Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
