@model GadeliniumGroupCapstone.ViewModels.BusinessInfoViewModel

@using GadeliniumGroupCapstone.AuthorizationPolicies
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService _auth

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = $"{Model.Business.BusinessName} Info";

    string imageBase64 = Convert.ToBase64String(Model.Business.BusinessLogo.Content);
    string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
    int serviceCount = 0;
    var isAuthorized = await _auth.AuthorizeAsync(User, Model.Business, new UserIdMatchRequirement());
}



<div class="container">
    <div class="card w-75 border-primary mx-auto">
        <div class="card-header text-center">
            <h2>@Model.Business.BusinessName</h2>
            <img src="@imageSrc" alt="@Model.Business.PhotoBinId" width="100" height="100" />
        </div>

        <div class="card-body row">
            <div class="col-6">
                Insert Hours Here
            </div>
            <div class="col-6">
                <div class="card-header">
                    Address
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Model.Business.Address</li>
                    <li class="list-group-item">@Model.Business.Zip</li>
                </ul>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">@Model.Business.Phone</small>
        </div>
    </div>
</div>
<div class="container my-3">

    @if (isAuthorized.Succeeded)
    {

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Business Owner Options</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div class="btn-group-vertical btn-group-lg">
                            <a asp-action="EditBusiness" asp-route-id="@Model.Business.BusinessId" class="btn btn-light">Edit Business</a>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="btn-group-vertical btn-group-lg">
                            <a asp-action="AddService" asp-route-id="@Model.Business.BusinessId" class="btn btn-light">Add Service</a>
                        </div>
                    </div>

                    <div class="col-6"></div>
                </div>
            </div>
        </div>

    }

    @{ List<string> imageBase64Service = new List<string>();
        List<string> imageSrcService = new List<string> ();
        }

    @for(int i = 0; i< Model.Services.Count; i++)
    {
        imageBase64Service.Add(Convert.ToBase64String(Model.Services[i].ServiceThumbnail.Content));
        imageSrcService.Add(string.Format("data:image/gif;base64,{0}", imageBase64Service[i]));
        serviceCount += 1;
        if (serviceCount % 2 == 1)
        {
            <hr class="featurette-divider">
            @if (isAuthorized.Succeeded)
            {
                <div class="container">
                    <div class="btn-group-vertical btn-group-lg">
                        <a asp-action="EditService" asp-route-id="@Model.Services[i].ServiceId" class="btn btn-light">Edit Service</a>
                    </div>
                </div>
            }
            <div class="row featurette align-items-center bg-light py-3">
                <div class="col-md-7">
                    <h2 class="featurette-heading">
                        @Model.Services[i].ServiceName <br />
                        <span class="text-muted">@Model.Services[i].ServiceTagLine</span>
                    </h2>
                    <p class="lead">@Model.Services[i].ServiceDescription</p>
                    @if (Model.Services[i].ServiceFurtherDescription == null || Model.Services[i].ServiceFurtherDescription.Length > 5)
                    {
                        <hr />
                        <p>@Model.Services[i].ServiceFurtherDescription</p>
                    }
                </div>
                <div class="col-md-5">
                    <img src="@imageSrcService[i]" class="border rounded-lg float-right" width="300" height="300" alt="@Model.Services[i].ServiceTag Banner Photo" />
                </div>
            </div>
        }
        else
        {
            <hr class="featurette-divider">

            <div class="row featurette align-items-center bg-light py-3">
                <div class="col-md-5">
                    <img src="@imageSrcService[i]" class="border rounded-lg float-right" width="300" height="300" alt="@Model.Services[i].ServiceTag Banner Photo" />
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">
                        @Model.Services[i].ServiceName <br />
                        <span class="text-muted">@Model.Services[i].ServiceTagLine</span>
                    </h2>
                    <p class="lead">@Model.Services[i].ServiceDescription</p>
                    @if (Model.Services[i].ServiceFurtherDescription == null || Model.Services[i].ServiceFurtherDescription.Length > 5)
                    {
                        <hr />
                        <p>@Model.Services[i].ServiceFurtherDescription</p>
                    }
                </div>
            </div>
        }
    }

</div>
