@model GadeliniumGroupCapstone.ViewModels.BusinessInfoViewModel

@using GadeliniumGroupCapstone.AuthorizationPolicies
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService _auth

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = $"{Model.Business.BusinessName} Info";

    string imageBase64 = Convert.ToBase64String(Model.Business.BusinessLogo.Content);
    string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
    int serviceCount = 0;
    var isAuthorized = await _auth.AuthorizeAsync(User, Model.Business, new UserIdMatchRequirement());
}



<div class="container">
    <partial name="_AlertPartial" />
    <div class="card border-primary mx-auto">
        <div class="card-header text-center">
            <h2>@Model.Business.BusinessName</h2>
            <img src="@imageSrc" alt="@Model.Business.PhotoBinId" height="400" />
        </div>

        <div class="card-body row">
            <div class="col-6">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tr class="table-info">
                            <th>
                                Business Hours
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Monday</td>
                            <td>
                                Opening: @Model.Business.BusinessHour.MondayOpening am
                            </td>
                            <td>
                                Closing: @Model.Business.BusinessHour.MondayClosing pm
                            </td>
                        </tr>
                        <tr>
                            <td>Tuesday</td>
                            <td>
                                Opening: @Model.Business.BusinessHour.TuesdayOpening am
                            </td>
                            <td>
                                Closing: @Model.Business.BusinessHour.TuesdayClosing pm
                            </td>
                        </tr>
                        <tr>
                            <td>Wednesday</td>
                            <td>
                                Opening: @Model.Business.BusinessHour.WednesdayOpening am
                            </td>
                            <td>
                                Closing: @Model.Business.BusinessHour.WednesdayClosing pm
                            </td>
                        </tr>
                        <tr>
                            <td>Thursday</td>
                            <td>
                                Opening: @Model.Business.BusinessHour.ThursdayOpening am
                            </td>
                            <td>
                                Closing: @Model.Business.BusinessHour.ThursdayClosing pm
                            </td>
                        </tr>
                        <tr>
                            <td>Friday</td>
                            <td>
                                Opening: @Model.Business.BusinessHour.FridayOpening am
                            </td>
                            <td>
                                Closing: @Model.Business.BusinessHour.FridayClosing pm
                            </td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td>
                                Opening: @Model.Business.BusinessHour.SaturdayOpening am
                            </td>
                            <td>
                                Closing: @Model.Business.BusinessHour.SaturdayClosing pm
                            </td>
                        </tr>
                        <tr>
                            <td>Sunday</td>
                            <td>
                                Opening: @Model.Business.BusinessHour.SundayOpening am
                            </td>
                            <td>
                                Closing: @Model.Business.BusinessHour.SundayClosing pm
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <div class="card-header">
                    Address
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Model.Business.Address</li>
                    <li class="list-group-item">@Model.Business.Zip</li>
                </ul>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">@Model.Business.Phone</small>
        </div>
    </div>
</div>
<div class="container my-3">

    @if (isAuthorized.Succeeded)
    {

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Business Owner Options</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div class="btn-group-vertical btn-group-lg">
                            <a asp-action="EditBusiness" asp-route-id="@Model.Business.BusinessId" class="btn btn-light">Edit Business</a>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="btn-group-vertical btn-group-lg">
                            <a asp-action="AddService" asp-route-id="@Model.Business.BusinessId" class="btn btn-light">Add Service</a>
                        </div>
                    </div>

                    <div class="col-6"></div>
                </div>
            </div>
        </div>

    }

    @{ List<string> imageBase64Service = new List<string>();
        List<string> imageSrcService = new List<string>();
    }

    @for (int i = 0; i < Model.Services.Count; i++)
    {
        imageBase64Service.Add(Convert.ToBase64String(Model.Services[i].ServiceThumbnail.Content));
        imageSrcService.Add(string.Format("data:image/gif;base64,{0}", imageBase64Service[i]));
        serviceCount += 1;
        if (serviceCount % 2 == 1)
        {
            <hr class="featurette-divider">
            @if (isAuthorized.Succeeded)
            {
                <div class="container w-100 p-0">
                    <div class="btn-group-vertical btn-group-lg">
                        <a asp-action="EditService" asp-route-id="@Model.Services[i].ServiceId" class="btn btn-warning ml-0">Edit Service</a>
                    </div>
                </div>
            }
            <div class="row featurette align-items-center bg-light py-3">
                <div class="col">
                    <h2 class="featurette-heading">
                        @Model.Services[i].ServiceName <br />
                        <span class="text-muted">@Model.Services[i].ServiceTagLine</span>
                    </h2>
                    <p class="lead">@Model.Services[i].ServiceDescription</p>
                    @if (Model.Services[i].ServiceFurtherDescription == null || Model.Services[i].ServiceFurtherDescription.Length > 5)
                    {
                        <hr />
                        <p>@Model.Services[i].ServiceFurtherDescription</p>
                    }
                </div>
                <div class="col">
                    <img src="@imageSrcService[i]" class="border rounded-lg float-right w-100" alt="@Model.Services[i].ServiceTag Banner Photo" />
                </div>
            </div>
        }
        else
        {
            <hr class="featurette-divider">

            @if (isAuthorized.Succeeded)
            {
                <div class="container">
                    <div class="btn-group-vertical btn-group-lg">
                        <a asp-action="EditService" asp-route-id="@Model.Services[i].ServiceId" class="btn btn-warning ml-0">Edit Service</a>
                    </div>
                </div>
            }

            <div class="row featurette align-items-center bg-light py-3">
                <div class="col">
                    <img src="@imageSrcService[i]" class="border rounded-lg float-right w-100" alt="@Model.Services[i].ServiceTag Banner Photo" />
                </div>
                <div class="col">
                    <h2 class="featurette-heading">
                        @Model.Services[i].ServiceName <br />
                        <span class="text-muted">@Model.Services[i].ServiceTagLine</span>
                    </h2>
                    <p class="lead">@Model.Services[i].ServiceDescription</p>
                    @if (Model.Services[i].ServiceFurtherDescription == null || Model.Services[i].ServiceFurtherDescription.Length > 5)
                    {
                        <hr />
                        <p>@Model.Services[i].ServiceFurtherDescription</p>
                    }
                </div>
            </div>
        }
    }

</div>
