@model GadeliniumGroupCapstone.Models.PetAccount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PetAccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Breed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Species)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PetAccountId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
