@model GadeliniumGroupCapstone.ViewModels.RegisterEditBusinessViewModel

@{
    ViewData["Title"] = "BusinessRegistration";

}

<h1>BusinessRegistration</h1>

<h4>Business</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBusinessAccountWithProfileImage" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Business.Address" class="control-label"></label>
                <input asp-for="Business.Address" class="form-control" />
                <span asp-validation-for="Business.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Business.Zip" class="control-label"></label>
                <input asp-for="Business.Zip" class="form-control" />
                <span asp-validation-for="Business.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <select class="col-6" asp-for="Business.BusinessHour.MondayOpening">
                        @for (int i = 1; i < 13; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <select class="col-6" asp-for="Business.BusinessHour.TuesdayOpening">
                        @for (int i = 1; i < 13; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <select class="col-6" asp-for="Business.BusinessHour.WednesdayOpening">
                        @for (int i = 1; i < 13; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <select class="col-6" asp-for="Business.BusinessHour.ThursdayOpening">
                        @for (int i = 1; i < 13; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <select class="col-6" asp-for="Business.BusinessHour.FridayOpening">
                        @for (int i = 1; i < 13; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <select class="col-6" asp-for="Business.BusinessHour.SaturdayOpening">
                        @for (int i = 1; i < 13; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <select class="col-6" asp-for="Business.BusinessHour.SundayOpening">
                        @for (int i = 1; i < 13; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>


                    <select class="col-6" asp-for="Business.BusinessHour.MondayClosing">
                        @for (int i = 1; i < 13; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <select class="col-6" asp-for="Business.BusinessHour.TuesdayClosing">
                        @for (int i = 1; i < 13; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <select class="col-6" asp-for="Business.BusinessHour.WednesdayClosing">
                        @for (int i = 1; i < 13; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <select class="col-6" asp-for="Business.BusinessHour.ThursdayClosing">
                        @for (int i = 1; i < 13; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <select class="col-6" asp-for="Business.BusinessHour.FridayClosing">
                        @for (int i = 1; i < 13; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <select class="col-6" asp-for="Business.BusinessHour.SaturdayClosing">
                        @for (int i = 1; i < 13; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <select class="col-6" asp-for="Business.BusinessHour.SundayClosing">
                        @for (int i = 1; i < 13; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>

                </div>
            </div>
            <div class="form-group">
                <label asp-for="Business.Phone" class="control-label"></label>
                <input asp-for="Business.Phone" class="form-control" />
                <span asp-validation-for="Business.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="file" asp-for="UploadFile" name="uploadFile" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
